<div class ="modal-content">
	<div class="modal-header">
        <button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Atividade:</h4>
    </div>
    <div class="modal-body">
		<form class="form-horizontal" name="entityForm">
			<ui-input         field="name"          status="status.name"        ng-model="entity.name"          ></ui-input>
			<ui-input         field="description"   status="status.description" ng-model="entity.description"   ></ui-input>
			<ui-input-check   field="groupDiscount"                             ng-model="entity.groupDiscount" ></ui-input-check>
			<ui-input-check   field="voucher"                                   ng-model="entity.voucher"       ></ui-input-check>
			<ui-input         field="spots"         status="status.spots"       ng-model="entity.spots"         ></ui-input>
			<ui-input         field="duration"      status="status.duration"    ng-model="entity.duration"      ></ui-input>
			<ui-input         field="points"        status="status.points"      ng-model="entity.points"        ></ui-input>
			<ui-input-date    field="date"          status="status.date"        ng-model="entity.date"          ></ui-input-date>
			<ui-input-time    field="time"          status="status.time"        ng-model="entity.time"          ></ui-input-time>
			<ui-input         field="place"         status="status.place"       ng-model="entity.place"         ></ui-input>
			<ui-input-address field="address"       status="status.address"     ng-model="entity.address"       ></ui-input-address>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
				    <button class="btn btn-danger"  ng-click="delete(entity)" ng-show="editMode">Excluir</button>
					<button class="btn btn-primary" ng-click="edit()"         ng-hide="editMode"><span aria-hidden="true">Editar</span></button>
				    <button class="btn btn-primary" ng-click="submit(entity)" ng-show="editMode" ng-disabled="entityForm.$error.required" >Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>