<div class ="modal-content">
	<div class="modal-header">
        <button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Código de associados e conveniados:</h4>
    </div>
    <div class="modal-body">
		<form class="form-horizontal" name="entityForm">
			<ui-input         field="name"          status="status.name"        ng-model="entity.name"          ></ui-input>
			<ui-input         field="code"          status="status.code"        ng-model="entity.code"          ></ui-input>
			<ui-input-date    field="updateDate"    status="status.updateDate"  ng-model="entity.updateDate"    ></ui-input-date>
			<ui-input-check   field="active"                                    ng-model="entity.active"        ></ui-input-check>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
				    <button class="btn btn-danger"  ng-click="delete(entity)" >Excluir</button>
				    <button class="btn btn-primary" ng-click="submit(entity)" ng-disabled="entityForm.$error.required" >Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>