<div class="jumbotron">
	<div class="row">
		<p >Exibindo Categorias</p>
		
	</div>
	<div class="form-group">
		<label class="input-group control-label" for="text" style="float:left;margin-right:5px;">Pesquisa:</label>
		<div class="col-sm-10">
		<input name="search" class="form-control" type="text" ng-model="searchCriteria" ng-model-options='{updateOn: "default blur", debounce:{default: 500, blur: 0}}' placeholder="Digite o filtro">
		</div>
	</div>
	<table ng-show="categories.length > 0" class="table">
		<th><a href="" ng-click="orderBy('name')">Nome</th>
		<th><a href="" ng-click="orderBy('discount')">Desconto</th>
		<th><a href="" ng-click="orderBy('needCodeAtInscription')">Requer código na inscrição</th>
		<th><a href="" ng-click="orderBy('description')">Descrição</th>
		<th style="min-width:25px" width="100/%"></th>
		<tr ng-repeat="category in categories | filter:searchCriteria | orderBy:orderCriteria:orderDirection">
			<td>{{::category.name | name}}</a></td>
			<td>{{::category.discount}}</td>
			<td>{{::category.needCodeAtInscription}}</td>
			<td>{{::category.description}}</td>
			<td><a class="btn btn-primary btn-block" ng-click="edit(category)">Editar</a></td>
		</tr>
	</table>
	<div class="form-group">
		<div class="col-sm-offset-6 col-sm-10">
		    <button class="btn btn-default" ng-click="back()">Voltar</button>
		    <button class="btn btn-primary" ng-click="new()">Nova Categoria</button>
		</div>
	</div>
</div>
<div ui-view></div>