<div class="jumbotron">
	    <div class="row">
	        <div class="col-md-3">
	            <div class="thumbnail">
	                <div class="caption">
	                	<a href="#/manager/events" style="color:#333333">
		                    <h3>Eventos</h3>
		                    <div class="text-center" style="font-size: 100px">
		                    	<span class="icon icon-calendar"></span>
                    		</div >
	                    </a>
	                    <p style="margin-top:5px">
	                        <a class="btn btn-default" href="#/manager/events" role="button">Ver Todos</a>
	                        <a class="btn btn-primary" href="#/manager/events/new_event" role="button">Adicionar</a>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-3">
	            <div class="thumbnail">
	                <div class="caption">
	                    <a href="#/manager/professions" style="color:#333333">
		                    <h3>Profissões</h3>
		                    <div class="text-center" style="font-size: 100px">
		                        <span class="icon icon-users"></span></a>
		            		</div >
	            		</a>
	                    <p style="margin-top:5px">
	                        <a class="btn btn-default" href="#/manager/professions" role="button">Ver Todas</a>
	                        <a class="btn btn-primary" href="#/manager/professions/new_profession" role="button">Adicionar</a>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-3">
	            <div class="thumbnail">
	                <div class="caption">
	                    <a href="#/manager/categories" style="color:#333333">
		                    <h3>Categorias </h3>
		                    <div class="text-center" style="font-size: 100px">
		                        <span class="icon icon-puzzle-piece"></span>
		                    </div >
	                    </a>
	                    <p style="margin-top:5px">
	                        <a class="btn btn-default" href="#/manager/categories" role="button">Ver Todas</a>
	                        <a class="btn btn-primary" href="#/manager/categories/new_category" role="button">Adicionar</a>
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>