<div class="jumbotron">
    <div class="row">
        <ui-block name="Administradores"   color="#333333" icon="icon icon-puzzle-piece" state="admins"       ></ui-block>
        <ui-block name="Eventos"           color="#333333" icon="icon icon-calendar"     state="events"       ></ui-block>
        <ui-block name="Participantes"     color="#333333" icon="icon icon-puzzle-piece" state="participants" ></ui-block>
        <ui-block name="Categorias"        color="#333333" icon="icon icon-puzzle-piece" state="categories"   ></ui-block>
        <ui-block name="Profissões"        color="#333333" icon="icon icon-puzzle-piece" state="professions"  ></ui-block>
        <ui-block name="Atividades"        color="#333333" icon="icon icon-puzzle-piece" state="activities"   ></ui-block>
        <ui-block name="Inscrições"        color="#333333" icon="icon icon-puzzle-piece" state="inscriptions" ></ui-block>
        <ui-block name="Associados"        color="#333333" icon="icon icon-puzzle-piece" state="associates"   ></ui-block>
    </div>
</div>