<div class ="modal-content">
	<div class="modal-header">
        <button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Categoria de participante:</h4>
    </div>
    <div class="modal-body">
		<form class="form-horizontal" name="entityForm">
			<ui-input field="participant"    status="status.participant"    ng-model="entity.participantId"    ></ui-input>
			<ui-input field="activity"       status="status.activity"       ng-model="entity.activityId"       ></ui-input>
			<ui-input field="category"       status="status.category"       ng-model="entity.categoryId"       ></ui-input>
			<ui-input field="associateCode"  status="status.associateCode"  ng-model="entity.associateCode"  ></ui-input>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
				    <button class="btn btn-danger"  ng-click="delete(entity)" >Excluir</button>
				    <button class="btn btn-primary" ng-click="submit(entity)" ng-disabled="entityForm.$error.required" >Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>