<div class="jumbotron">
	<div class="row">
		<p >Exibindo Categorias</p>
	</div>
	<div class="form-group">
		<label class="input-group control-label" for="text" style="float:left;margin-right:5px;">Pesquisa:</label>
		<div class="col-sm-10">
		<input name="search" class="form-control" type="text" ng-model="searchCriteria" ng-model-options='{updateOn: "default blur", debounce:{default: 500, blur: 0}}' placeholder="Digite o filtro">
		</div>
	</div>
	<table ng-show="participants.length > 0" class="table">
		<th><a href="" ng-click="orderBy('name')">Nome</th>
		<th><a href="" ng-click="orderBy('homePhone')">Telefone residencial</th>
		<th><a href="" ng-click="orderBy('cellPhone')">Celular</th>
		<th><a href="" ng-click="orderBy('organization')">Empresa/organização</th>
		<th><a href="" ng-click="orderBy('workEmail')">Email comercial</th>
		<th><a href="" ng-click="orderBy('userId')">Usuário</th>
		<th style="min-width:25px" width="100/%"></th>
		<tr ng-repeat="participant in participants | filter:searchCriteria | orderBy:orderCriteria:orderDirection">
			<td>{{::participant.name | name }}</td>
			<td>{{::participant.homePhone   }}</td>
			<td>{{::participant.cellPhone   }}</td>
			<td>{{::participant.organization}}</td>
			<td>{{::participant.workEmail   }}</td>
			<td>{{::participant.userId      }}</td>
			<td><a class="btn btn-primary btn-block" ng-click="edit(participant)">Editar</a></td>
		</tr>
	</table>
	<div class="form-group">
		<div class="col-sm-offset-6 col-sm-10">
		    <button class="btn btn-default" ng-click="back()">Voltar</button>
		    <button class="btn btn-primary" ng-click="new()">Novo participante</button>
		</div>
	</div>
</div>
<div ui-view></div>