<div class="jumbotron">
	<div class="form-group" ng-show="false">
		<label class="input-group" for="text" style="float:left;margin-right:5px;">Pesquise o seu evento:</label>
		<div class="input-group">
		<input name="search" class="form-control" type="text" ng-model="searchCriteria" ng-model-options='{updateOn: "default blur", debounce:{default: 500, blur: 0}}' placeholder="Pesquisa de eventos">
		</div>
	</div>
	<table ng-show="events.length > 0" class="table">
		<th><a href="" ng-click="orderBy('name')">Nome</th>
		<th><a href="" ng-click="orderBy('date')">Data</th>
		<th><a href="" ng-click="orderBy('place')">Local</th>
		<tr ng-repeat="event in events | filter:searchCriteria | orderBy:orderCriteria:orderDirection">
			<td><a href="#/{{event.id}}">{{::event.name | name}}</a></td>
			<td>{{::event.date | date:"dd/MM/yyyy"}}</td>
			<td>{{::event.place}}</td>
	</table>
	<button class="btn btn-primary btn-block" ng-click="newEvent()">Novo Evento</button>
</div>