<div class="row">
  <form class="col-lg-12" (submit)="onSave()">
    <rd-widget>
      <rd-widget-header icon="fa-calendar" title="Eventos">
        <a href="javascript:void(0)" (click)="onAdd()" *ngIf="!domain" class="btn btn-sm btn-info pull-right">
          <span class="fa fa-asterisk"></span> Adicionar Evento
        </a>
        <a href="javascript:void(0)" (click)="onBack()" *ngIf="domain" class="btn btn-sm btn-info pull-right">
          <span class="fa fa-remove"></span> Cancelar
        </a>
      </rd-widget-header>
      <rd-widget-body classes="no-padding" *ngIf="!domain">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="width: 50px;">Código</th>
              <th>Nome</th>
              <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#event of events">
              <td>{{event.id}}</td>
              <td>
                <p>{{event.name}}</p>
                <p>
                  <a href="#" (click)="onEdit(event);" class="btn btn-xs btn-primary">
                    <span class="fa fa-pencil"></span> Editar
                  </a>
                  <a href="#" (click)="onDel(event);" class="btn btn-xs btn-default">
                    <span class="fa fa-remove"></span> Remover
                  </a>
                </p>
              </td>
              <td>{{event.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-body *ngIf="domain" class="no-padding">
        <div *ngIf="domain">
          <div class="row">
            <div class="col-sm-6">
              <label>Nome</label>
              <input type="text" class="form-control" [(ngModel)]="domain.name" required>
            </div>
            <div class="col-sm-3">
              <label>Data</label>
              <input type="date" class="form-control" [(ngModel)]="domain.date" value="{{domain.date.split('-').reverse().join('/')}}" maxlength="10" required>
            </div>
            <div class="col-sm-3">
              <label>Horário</label>
              <input type="time" class="form-control" [(ngModel)]="domain.time" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Local</label>
              <input type="text" class="form-control" [(ngModel)]="domain.place" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Descrição</label>
              <textarea class="form-control" [(ngModel)]="domain.description" required rows="3"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">Endereço</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Rua</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.street" required>
                    </div>
                    <div class="col-sm-2">
                      <label>Número</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.number" required>
                    </div>
                    <div class="col-sm-2">
                      <label>Complemento</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.complement" required>
                    </div>
                    <div class="col-sm-2">
                      <label>CEP</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.cep" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Bairro</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.neighborhood" required>
                    </div>
                    <div class="col-sm-6">
                      <label>Cidade</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.city" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Estado</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.state" required>
                    </div>
                    <div class="col-sm-6">
                      <label>País</label>
                      <input type="text" class="form-control" [(ngModel)]="domain.address.country" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-header *ngIf="domain">
        <button type="submit" class="btn btn-info pull-right">
          <span class="fa fa-save"></span> Salvar Evento
        </button>
      </rd-widget-header>
    </rd-widget>
  </form>
</div>
