<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Eventos</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!domain"><a href="#" (click)="onAdd()">Adicionar</a></li>
        <li *ngIf="domain"><a href="#" (click)="onBack()">Voltar</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div *ngIf="!domain" class="col-lg-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Ações</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#event of events">
          <td>
            <a href="" title="Editar"><span class="fa fa-pencil"></span></a>
            <a href="" title="Excluir"><span class="fa fa-remove"></span></a>
          </td>
          <td>{{car.name}}</td>
          <td>{{car.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="domain" class="col-lg-12">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="domain.name">
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <input type="text" class="form-control" [(ngModel)]="domain.description">
    </div>
    <div class="form-group">
      <label>Local</label>
      <input type="text" class="form-control" [(ngModel)]="domain.place">
    </div>
    <div class="form-group">
      <label>Data</label>
      <input type="text" class="form-control" [(ngModel)]="domain.date">
    </div>
    <div class="form-group">
      <label>Horário</label>
      <input type="text" class="form-control" [(ngModel)]="domain.time">
    </div>
    <fieldset>
      <legend>Endereço</legend>
      <div class="form-group">
        <label>Rua</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.street">
      </div>
      <div class="form-group">
        <label>Número</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.number">
      </div>
      <div class="form-group">
        <label>Complemento</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.complement">
      </div>
      <div class="form-group">
        <label>Bairro</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.neighborhood">
      </div>
      <div class="form-group">
        <label>Cidade</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.city">
      </div>
      <div class="form-group">
        <label>Estado</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.state">
      </div>
      <div class="form-group">
        <label>País</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.country">
      </div>
      <div class="form-group">
        <label>CEP</label>
        <input type="text" class="form-control" [(ngModel)]="domain.address.cep">
      </div>
    </fieldset>
    <a href="#" (click)="onSave()" class="btn btn-primary">Salvar</a>
  </div>
</div>
